<div{{ attributes.addClass(['bg-stone-500', 'border-b-2', 'border-stone-900', 'mb-4']) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
